body{
	background-color: lightblue;
}
div.content{ 
	width: 85%;
} 
header{
	text-align: center;
	color: #000000;
	font-family: Georgia, cursive, sans-serif;
	background-color: lightblue;
	padding: 15px;
	width: 100%;
	margin: 0px;
	
}
#titleImageRight{
	display: inline;
	width: 5%;
}
#titleImageLeft{
	display: inline;
	width: 5%;
}
a{
	font-size: 400%;
	text-decoration: none;
	color: black;
	transition: 0.3s;
}
a:hover{
	color: red;
	text-shadow: 2px 2px 4px #000000;
}
#button{
	display: block;
	margin-left: 34%;
	margin-top: 1%;
}
#buttonBottom{
	display: block;
	margin-left: 34%;
	margin-top: 1%;
}
input{
	display: inline;
	font-family: Georgia, cursive, sans-serif;
	color: blue;
	border-radius: 4px;
	padding: 2px;
	margin-bottom: 5px;
}
input:hover{
	color: red;
	text-decoration: underline;
	box-shadow: 2px 2px 2px #000000;
}
#randomPIC{
	width: 200px;
	margin-left: 50%;
	padding: 15px;
}
#footer{
	font-size: 10px;
}
#constitution{
	margin: auto;
	font-family: Georgia;
	border: dashed white 8px;
	color: black;
	padding: 10px;
	border-radius: 5px;
	position: relative;
}
h1{
	text-align: center;
	margin-left:18%;
}
#welcome{
	color: blue;
	margin-left: 43%;
	font-size: 25px;
}
#date{
	text-align: center;
	font-family: Georgia;
	font-size: 15px;
	margin-left: 18%;
	color: blue;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#menuIcon{
	position: fixed;
	width: 30px;
	cursor: pointer;
	transition: 0.3s;
}
#menuIcon:hover{
	box-shadow: 2px 2px 2px #888888;
	transition: 0.3s;
}
